language: ruby
cache: bundler
rvm:
  - 2.0
  - 2.1
  - 2.2
  - 2.3.0
script:
  - bundle exec rspec
addons:
  code_climate:
    repo_token: ab20c4024c80ee5ca492cf40f0039212d6aad4c8680c861042970d76a42005df
